body {
    margin-bottom: 50px;
  }
  header {
    box-shadow: 0 2px 4px 0 rgba(90, 90, 90, 0.5);
    background-color: #fff;
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: 70px;
    top: 0;
    left: 0;
  }
  .div1 {
    width: 100%;
    height: 70px;
    display: flex;
    position: sticky;
    margin-bottom: 0px;
  }
  
  #imgDiv {
    margin-top: 15px;
    width: 30px;
    height: 45px;
    margin-left: 130px;
  }
  
  #search {
    margin-left: 180px;
    width: 50%;
    height: 120px;
    /* border: 1px solid orange; */
  }
  
  #download {
    display: flex;
    width: 20%;
    height: 100%;
    margin-top: 5px;
    justify-content: right;
    margin-left: 5%;
    cursor: pointer;
    /* border: 1px solid red; */
  }
  #Supplier {
    width: 16%;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
  }
  #profile {
    width: 10%;
    margin-top: 1.3%;
    /* border: 1px solid red; */
    text-align: center;
    line-height: 5px;
    cursor: pointer;
  }
  
  #cart {
    width: 10%;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 1.3%;
    line-height: 5px;
    cursor: pointer;
  }
  
  #search > input {
    width: 93%;
    height: 40%;
    margin-top: 5px;
    padding: 14px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  .div1 > img {
    height: 100%;
  }
  
  #downloadImgDiv {
    width: 20%;
  }
  #downloadTextDiv {
    width: 60%;
  }
  
  .firstBannerPlayStore {
    width: 75%;
    height: 370px;
    margin: auto;
    margin-top: 50px;
    display: flex;
  }
  
  .TopCategoriesSeperator {
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    margin-top: 80px;
    height: 70px;
    display: flex;
  }
  
  .fashionStore {
    width: 75%;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    background-color: #fce1d1;
    border-radius: 5px;
    display: flex;
  }
  
  /* div1 subdives */
  
  #playLeftBanner {
    width: 50%;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  #rightModelsBanner {
    border-radius: 5px;
    width: 50%;
    height: 100%;
  }
  
  .TopCategoriesSeperator > div {
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    margin: auto;
  }
  
  #HrLineCategoriesSeperator {
    width: 25%;
    /* border: 1px solid #f43397; */
    height: 2px;
  }
  
  #fashionStoreLeftDiv {
    /* border: 1px solid red; */
    padding: 15px;
    width: 35%;
  }
  #fashionStoreRightDiv {
    /* border: 1px solid red; */
    padding: 12px;
    width: 65%;
  }
  #fashionStoreRightDiv > div {
    display: flex;
    /* border: 1px solid red; */
    height: 60%;
  }
  
  /* div1 subdiv components */
  
  #H1PlayBanner {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 50px;
  }
  #FiftyLakh {
    margin-top: 30px;
    margin-left: 50px;
    height: 60px;
    width: 65%;
    padding-left: 25px;
    background-color: white;
  
    border-radius: 10px;
  }
  #FiftyLakh > p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
    color: #9c8378;
    padding-top: 15px;
    font-size: 19px;
  }
  
  #playLeftBanner > button {
    width: 60%;
    cursor: pointer;
    height: 50px;
    margin-left: 40px;
    margin-top: 25px;
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 5px;
    background-color: #f43397;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  #H1Seperator {
    text-align: center;
  }
  #H1Seperator > h1 {
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  
  #rightModelsBanner > img {
    border-radius: 5px;
  }
  
  #imgLeftfashionStore {
    margin-top: 14%;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .imgLeftDivfashionStore {
    /* border: 1px solid greenyellow; */
    width: 80%;
    height: 60%;
  }
  .westernWearMensWear {
    /* border: 1px solid black; */
    display: flex;
  }
  #fashionStoreRightDiv > div > div {
    margin-left: 25px;
    cursor: pointer;
  }
  #fashionStoreRightDiv > div > div > img {
    border-radius: 2px;
  }
  
  /* home Care */
  
  .homeCare {
    width: 75%;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    background-image: url("https://media.designcafe.com/wp-content/uploads/2020/03/21013220/white-walls-simple-living-room-ideas.jpg");
    border-radius: 5px;
    /* border: 1px solid black; */
    display: flex;
  }
  .homeCare > div {
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    height: 80%;
    text-align: center;
  }
  .homeCare > div:nth-child(1) {
    /* border: 1px solid red; */
    width: 35%;
    height: 80%;
  }
  .homeCare > div:nth-child(1) > h1 {
    font-size: 40px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #038d63;
    margin-top: 50px;
  }
  #homeCareButton1 {
    color: #f1feff;
    background-color: #038d63;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    height: 50px;
    margin-top: 20px;
    padding: 12px;
    width: 150px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
  }
  
  #otherDivHomeCare {
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    height: 80%;
    text-align: center;
  }
  
  #subOtherImgDivHomeCare {
    border: 7px solid #cdedde;
    height: 80%;
  }
  
  #OtherButtonDivHomeCare {
    color: #4ba9b4;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    height: 45px;
    margin-top: 12px;
    padding: 12px;
    width: 150px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
  }
  
  /* play store And Apple Store downlaod link*/
  
  .playAppleStore {
    width: 75%;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    background-image: url("https://meesho.com/_next/static/images/download_banner-19ca4d63d9c1dc44bc8cbfae62b60bd7.jpg");
    border-radius: 5px;
    /* border: 1px solid black; */
    display: flex;
    background-size: cover;
    text-align: right;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .playAppleStore > div {
    margin: 0%;
    /* border: 1px solid red; */
  }
  .playAppleStore > div:nth-child(1) {
    width: 50%;
  }
  
  .playAppleStore > div:nth-child(2) {
    margin-top: 50px;
    width: 50%;
    margin-right: 25px;
  }
  #h2PlayAppleStore {
    margin-top: 70px;
    color: #5b8ef7;
    font-weight: bold;
  }
  #h1PlayAppleStore {
    color: #f43b9b;
    font-weight: bold;
  }
  #rightPlayAppleStoreDiv > div {
    height: 50%;
    /* border: 1px solid green; */
  }
  #lowerImgDiv {
    display: flex;
  }
  #lowerImgDiv > div {
    /* border: 1px solid blue; */
    width: 25%;
    height: 22%;
    padding: 10px;
    text-align: center;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
  }
  #imgPlayApple {
    height: 100%;
    width: 100%;
  }
  #lowerImgDiv > div:nth-child(1) {
    margin-left: 30%;
  }
  
  /* Register As a Meesho Supplier Banner */
  
  .registerAsMeeshoSupplier {
    width: 75%;
    height: 245px;
    margin: auto;
    margin-top: 50px;
    padding-top: 45px;
    padding-left: 45px;
    color: white;
    border-radius: 3px;
    background-size: cover;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-image: url("https://meesho.com/_next/static/images/supply_banner_desk-d53b6ffa3ee3c43feedcfdd0f3d9bd8d.jpg");
  }
  
  .registerAsMeeshoSupplier > span:nth-child(1) {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
  #pOfBannerSupplier {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 16px;
  }
  #threeTick {
    display: flex;
    width: 60%;
    margin-top: 25px;
    border: 1px solid black;
  }
  #threeTick > hr {
    height: 10px;
    color: white;
    border: 1px solid white;
  }
  #signUpBannerDiv {
    height: 35px;
    width: 180px;
    color: #f43397;
    text-align: center;
    padding: 10px 28px;
    margin-top: 20px;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  #signUpBannerDiv > p {
    font-size: 18px;
    margin: auto;
    font-weight: 600;
  }
  
  .fa-check-circle {
    color: yellowgreen;
  }
  
  /* -------------------------Half Navbar-------------------------------------- */
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* #Universal and Default Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .container {
    width: 940px;
    color: #ddd;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  
  .ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  /* #Navigation Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  nav {
    background: white;
    font-size: 0;
    overflow: hidden;
  }
  
  nav > ul > li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
  }
  
  nav > ul > li:first-child {
    padding-left: 0;
  }
  
  nav > ul > li:last-child {
    padding-right: 0;
  }
  
  nav > ul > li > a {
    color: black;
    display: block;
    position: relative;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
  }
  
  nav > ul > li:hover > a {
    color: #f43698;
    border-bottom: 5px solid red;
  }
  
  /* #Mega Menu Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .mega-menu {
    background: #f0f0f0;
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  
  .mega-menu h3 {
    color: #f00ebf;
  }
  
  .mega-menu ul {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 205px;
  }
  
  .mega-menu ul:last-child {
    margin-right: 0;
  }
  
  .mega-menu a {
    border-bottom: 1px solid #ddd;
    color: rgb(58, 58, 58);
    display: block;
    padding: 10px 0;
  }
  
  .mega-menu a:hover {
    color: black;
    font-weight: bold;
  }
  
  p {
    padding-left: 3%;
    margin-bottom: 20px;
  }
  
  #container > div {
    width: 25%;
    height: 100%;
    margin-left: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
  }
  
  .inner {
    border-radius: 10px;
    width: 100%;
    height: 400px;
  }
  
  .inner2 {
    width: 100%;
    height: 195px;
  }
  
  .common {
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  
  .arrange {
    font-size: 16px;
    font-family: sans-serif;
    color: gray;
    font-weight: bold;
  }
  
  .flex {
    display: flex;
  }
  
  .padd {
    margin-left: 5%;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 22px;
    margin-top: -3%;
    color: gray;
  }
  
  h3 {
    font-size: 22px;
    color: #008145;
    margin-top: 5%;
    padding-left: 10%;
    margin-top: -3%;
  }
  
  .padd2 {
    margin-top: -3%;
    margin-left: 0%;
  }
  
  /* -------------------------Half Navbar-------------------------------------- */
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* #Universal and Default Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .container {
    width: 940px;
    color: #ddd;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  
  .ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  /* #Navigation Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  nav {
    background: white;
    font-size: 0;
    overflow: hidden;
  }
  
  nav > ul > li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
  }
  
  nav > ul > li:first-child {
    padding-left: 0;
  }
  
  nav > ul > li:last-child {
    padding-right: 0;
  }
  
  nav > ul > li > a {
    color: black;
    display: block;
    position: relative;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
  }
  
  nav > ul > li:hover > a {
    color: #f43698;
    border-bottom: 5px solid red;
  }
  
  /* #Mega Menu Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .mega-menu {
    background: #f0f0f0;
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  
  .mega-menu h3 {
    color: #f00ebf;
  }
  
  .mega-menu ul {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 205px;
  }
  
  .mega-menu ul:last-child {
    margin-right: 0;
  }
  
  .mega-menu a {
    border-bottom: 1px solid #ddd;
    color: rgb(58, 58, 58);
    display: block;
    padding: 10px 0;
  }
  
  .mega-menu a:hover {
    color: black;
    font-weight: bold;
  }
  
  /* #Droppable Class Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .droppable {
    position: static;
  }
  
  .droppable > a:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 12px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }
  
  .droppable:hover .mega-menu {
    display: block;
  }
  
  /* #Browser Clearfix
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .cf:before,
  .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .cf:after {
    clear: both;
  }
  
  /* ------------------------innerDiv--------------- */
  
  .innerDiv36 {
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
  }
  
  #playButton {
    color: white;
    background-color: #f43698;
    border: 0;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
  }
  #lastPP {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #676666;
    margin-top: -10px;
  }
  #lasth1h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    color: #676666;
  }