#idm{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
#id1{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
#cl1{
    
    
    width: 30%;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#cl2{
   
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#checkbox{
    
    display: flex;
    height: 30px;
    margin-top: 20px;
    align-items: baseline;
}
#checkbox>img{
    height: 20px;
    
}
#btn{
  width: 90%;
  height: 30px;
  margin-left: 20px;
  margin-top: 40px;
  color: white;
  background-color: #d7d7e0;
  border-radius: 5px;

  
}
#cl1>input{
    width: 50%;
    height: 20px;
}
#bbtn{
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 10px;
}
#id2{
    display: flex;
    justify-content: space-between;
}
#sd{
    display: flex;
}