
*{
    box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif     
}
body {
margin-bottom: 50px;
}
header {
box-shadow: 0 2px 4px 0 rgba(90, 90, 90, .5);
background-color: #fff;
z-index: 10000;
position: fixed;
width: 100vw;
height: 70px;
top: 0;
left: 0;
}
.div1 {
width: 100%;
height: 70px;
display: flex;
position: sticky;
margin-bottom: 0px;
}

#imgDiv {
margin-top: 15px;
width: 30px;
height: 45px;
margin-left: 130px;
}

#search {
margin-left: 180px;
width: 50%;
height: 120px;
/* border: 1px solid orange; */
}

#download {
display: flex;
width: 20%;
height: 100%;
margin-top: 5px;
justify-content: right;
margin-left: 5%;
/* border: 1px solid red; */
}
#Supplier {
width: 16%;
/* border: 1px solid red; */
text-align: center;
margin-top: 10px;
cursor: pointer;
}
#profile {
width: 10%;
margin-top: 1.3%;
/* border: 1px solid red; */
text-align: center;
line-height: 5px;
cursor: pointer;
}

#cart {
width: 10%;
/* border: 1px solid red; */
text-align: center;
margin-top: 1.3%;
line-height: 5px;
cursor: pointer;
}

#search > input {
width: 93%;
height: 40%;
margin-top: 5px;
padding: 14px;
border: 1px solid #aaa;
border-radius: 5px;
}

.div1 > img {
height: 100%;
}

#downloadImgDiv {
width: 20%;
}
#downloadTextDiv {
width: 60%;
}

.firstBannerPlayStore {
width: 75%;
height: 370px;
margin: auto;
margin-top: 50px;
display: flex;
}

.TopCategoriesSeperator {
/* border: 1px solid red; */
width: 75%;
margin: auto;
margin-top: 20px;
height: 70px;
display: flex;
}

.fashionStore {
width: 75%;
height: 450px;
margin: auto;
margin-top: 20px;
background-color: #fce1d1;
border-radius: 5px;
display: flex;
}

/* div1 subdives */

#playLeftBanner {
width: 50%;
height: 100%;
background-color: #f9f9f9;
border-radius: 5px;
}
#rightModelsBanner {
border-radius: 5px;
width: 50%;
height: 100%;
}

.TopCategoriesSeperator > div {
width: 50%;
height: 100%;
/* border: 1px solid red; */
margin: auto;
}

#HrLineCategoriesSeperator {
width: 25%;
/* border: 1px solid #f43397; */
height: 2px;
}

#fashionStoreLeftDiv {
/* border: 1px solid red; */
padding: 15px;
width: 35%;
}
#fashionStoreRightDiv {
/* border: 1px solid red; */
padding: 12px;
width: 65%;
}
#fashionStoreRightDiv > div {
display: flex;
/* border: 1px solid red; */
height: 60%;
}

/* div1 subdiv components */

#H1PlayBanner {
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
margin-left: 40px;
margin-top: 50px;
}
#FiftyLakh {
margin-top: 30px;
margin-left: 50px;
height: 60px;
width: 65%;
padding-left: 25px;
background-color: white;

border-radius: 10px;
}
#FiftyLakh > p {
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

color: #9c8378;
padding-top: 15px;
font-size: 19px;
}

#playLeftBanner > input[type="submit"] {
width: 60%;
cursor: pointer;
height: 50px;
margin-left: 40px;
margin-top: 25px;
font-size: 18px;
color: white;
border: 0;
border-radius: 5px;
background-color: #f43397;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#H1Seperator {
text-align: center;
}
#H1Seperator > h1 {
font-size: 30px;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
font-weight: bold;
}

#rightModelsBanner > img {
border-radius: 5px;
}

#imgLeftfashionStore {
margin-top: 14%;
width: 100%;
height: 100%;
border-radius: 2px;
cursor: pointer;
}

.imgLeftDivfashionStore {
/* border: 1px solid greenyellow; */
width: 80%;
height: 60%;
}
.westernWearMensWear {
/* border: 1px solid black; */
display: flex;
}
#fashionStoreRightDiv > div > div {
margin-left: 25px;
cursor: pointer;
}
#fashionStoreRightDiv > div > div > img {
border-radius: 2px;
}

/* home Care */

.homeCare {
width: 75%;
height: 450px;
margin: auto;
margin-top: 50px;
background-image: url("https://media.designcafe.com/wp-content/uploads/2020/03/21013220/white-walls-simple-living-room-ideas.jpg");
border-radius: 5px;
/* border: 1px solid black; */
display: flex;
}
.homeCare > div {
/* border: 1px solid red; */
width: 20%;
margin: auto;
height: 80%;
text-align: center;
}
.homeCare > div:nth-child(1) {
/* border: 1px solid red; */
width: 35%;
height: 80%;
}
.homeCare > div:nth-child(1) > h1 {
font-size: 40px;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
color: #038d63;
margin-top: 50px;
}
#homeCareButton1 {
color: #f1feff;
background-color: #038d63;
border: 0;
border-radius: 5px;
font-size: 17px;
height: 50px;
margin-top: 20px;
padding: 12px;
width: 150px;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
cursor: pointer;
}

#otherDivHomeCare {
/* border: 1px solid red; */
width: 20%;
margin: auto;
height: 80%;
text-align: center;
}

#subOtherImgDivHomeCare {
border: 7px solid #cdedde;
height: 80%;
}

#OtherButtonDivHomeCare {
color: #4ba9b4;
background-color: white;
border: 0;
border-radius: 5px;
font-size: 17px;
height: 45px;
margin-top: 12px;
padding: 12px;
width: 150px;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
cursor: pointer;
}

/* play store And Apple Store downlaod link*/

.playAppleStore {
width: 75%;
height: 550px;
margin: auto;
margin-top: 50px;
background-image: url("https://meesho.com/_next/static/images/download_banner-19ca4d63d9c1dc44bc8cbfae62b60bd7.jpg");
border-radius: 5px;
/* border: 1px solid black; */
display: flex;
background-size: cover;
text-align: right;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.playAppleStore>div{
margin: 0%;
/* border: 1px solid red; */
}
.playAppleStore > div:nth-child(1) {
width: 50%;
}

.playAppleStore > div:nth-child(2) {
margin-top: 50px;
width: 50%;
margin-right: 25px;
}
#h2PlayAppleStore {
margin-top: 70px;
color: #5b8ef7;
font-weight: bold;
}
#h1PlayAppleStore {
color: #f43b9b;
font-weight: bold;
}
#rightPlayAppleStoreDiv > div {
height: 50%;
/* border: 1px solid green; */
}
#lowerImgDiv {
display: flex;
}
#lowerImgDiv > div {
/* border: 1px solid blue; */
width: 25%;
height: 22%;
padding: 10px;
text-align: center;
background-color: black;
border-radius: 3px;
cursor: pointer;
margin: auto;
margin-top: 10px;
}
#imgPlayApple {
height: 100%;
width: 100%;
}
#lowerImgDiv > div:nth-child(1) {
margin-left: 30%;
}

/* Register As a Meesho Supplier Banner */

.registerAsMeeshoSupplier {
width: 75%;
height: 245px;
margin: auto;
margin-top: 50px;
padding-top: 45px;
padding-left: 45px;
color: white;
border-radius: 3px;
background-size: cover;
font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
background-image: url("https://meesho.com/_next/static/images/supply_banner_desk-d53b6ffa3ee3c43feedcfdd0f3d9bd8d.jpg");
}

.registerAsMeeshoSupplier > span:nth-child(1) {
font-weight: bold;
font-size: 32px;
line-height: 40px;
}
#pOfBannerSupplier {
font-size: 16px;
line-height: 20px;
font-weight: 400;
margin-top: 16px;
}
#threeTick {
display: flex;
width: 60%;
margin-top: 25px;
border: 1px solid black;
}
#threeTick > hr {
height: 10px;
color: white;
border: 1px solid white;
}
#signUpBannerDiv {
height: 35px;
width: 180px;
color: #f43397;
text-align: center;
padding: 10px 28px;
margin-top: 20px;
background-color: white;
border-radius: 3px;
cursor: pointer;
}
#signUpBannerDiv > p {
font-size: 18px;
margin: auto;
font-weight: 600;
}

.fa-check-circle {
color: yellowgreen;
}

/* -------------------------Half Navbar-------------------------------------- */
html {
box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

/* #Universal and Default Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
text-decoration: none;
}

h1 {
font-size: 40px;
font-weight: 700;
margin-bottom: 20px;
margin-top: 20px;
}

h2 {
font-size: 15px;
font-weight: 600;
margin-bottom: 30px;
margin-top: 10px;
}

.container {
width: 940px;
color: #ddd;
font-family: "Open Sans", sans-serif;
font-size: 14px;
line-height: 1;
margin: auto;
padding: 0;
text-align: center;
}

.ul-reset {
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
list-style: none;
}

/* #Navigation Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
background: white;
font-size: 0;
overflow: hidden;
}

nav > ul > li {
display: inline-block;
font-size: 14px;
padding: 0 15px;
position: relative;
}

nav > ul > li:first-child {
padding-left: 0;
}

nav > ul > li:last-child {
padding-right: 0;
}

nav > ul > li > a {
color: black;
display: block;
position: relative;
padding: 20px 0;
border-bottom: 3px solid transparent;
}

nav > ul > li:hover > a {
color: #f43698;
border-bottom: 5px solid red;
}

/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
background: #f0f0f0;
display: none;
left: 0;
position: absolute;
text-align: left;
width: 100%;
}

.mega-menu h3 {
color: #f00ebf;
}

.mega-menu ul {
float: left;
margin-bottom: 20px;
margin-right: 40px;
width: 205px;
}

.mega-menu ul:last-child {
margin-right: 0;
}

.mega-menu a {
border-bottom: 1px solid #ddd;
color: rgb(58, 58, 58);
display: block;
padding: 10px 0;
}

.mega-menu a:hover {
color: black;
font-weight: bold;
}


      p {
          padding-left: 3%;
          margin-bottom: 20px;


      }

      #container>div {

          width: 25%;
          height: 100%;
          margin-left: 1%;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 10px;
      }

      .inner {
          border-radius: 10px;
          width: 100%;
          height: 400px;

      }

      .inner2 {
          width: 100%;
          height: 195px;

      }

      .common {
          width: 100%;
          height: 400px;
          border-radius: 10px;
      }

      .arrange {
          font-size: 16px;
          font-family: sans-serif;
          color: gray;
          font-weight: bold;
      }

      .flex {
          display: flex;
      }

      .padd {
          margin-left: 5%;
          font-weight: lighter;
          text-decoration: line-through;
          font-size: 22px;
          margin-top: -3%;
          color: gray;
      }

      h3 {
          font-size: 22px;
          color: #008145;
          margin-top: 5%;
          padding-left: 10%;
          margin-top: -3%;




      }

      .padd2 {
          margin-top: -3%;
          margin-left: 0%;
      }

      /* .discount-icon {
          margin-left: 2%;
      } */

      .discount-txt {
          font-size: 20px;
          color: gray;
          padding-bottom: 3%;
          font-weight: lighter;
          padding-left: 2%;

      }

      .icon {
          border: 1px solid transparent;
          width: 100%;
          height: 30px;
          margin-left: 2%;
      }

      .imge {
          height: 19px;
          width: 19px;
          padding-left: 5px;
          margin-bottom: 2%;
      }

      .round-bar {
          width: 100px;
          height: 30px;
          border: 1px solid lightgray;
          margin: auto;
          margin-top: 20px;
          margin-left: 20px;
          border-radius: 20px;
      }

      .free-d {
          color: gray;
          font-weight: lighter;
          margin-bottom: -6%;
          margin: auto;
          padding: 6px 10px;
          font-size: 14px;

      }

      .review {
          width: 30px;
          height: 35px;
          background-color: #23bb75;
          border-radius: 20px;
          margin: 18px;
          padding-left: 20px;
          padding-right: 10px;
      }

      .r-color {
          color: white;
          font-size: 18px;
          padding-top: 8px;
          padding-right: 30px;
      }


.shop-item{
display: flex;
width: 80%;
/* border: 1px solid red; */
height: 650px;
margin: auto;
margin-top: 150px;
}
.item-img{
width: 50%;

margin-right: 3%;
border-radius: 5px;

}
.prod-img{
display: flex;
padding: 10px;
border-radius: 5px;
}
.prod-img>.small-img>img{
height: 60px;
width: 60px;
border-radius: 5px;
border: 1px solid red;
margin-right: 10px;
}
.prod-img>.original-img{
    border: 1px solid #e3e3e3;            
height: 473px;
width: 452px;




}
.prod-img>.original-img>img{
height: inherit;
margin-left: 15px;
align-items: stretch;
padding: 2px;



}
.btn-cont{
margin-left: 70px;
width:50%;
margin-top: 20px;

}
.btn-cont>#cart-btn{
color: white;
background-color: #f43397;
width: 430px;
height: 50px;
border-radius: 5px;
border: 0px;
font-size: 20px;
word-spacing: 2px;
/* margin: auto; */
}
.btn-cont>.line{
width:425px;
color: black;
border-bottom: 2px solid #eee;
margin-top: 20px;
}
.similar-cont>p{
text-align: left;
font-weight:bold;
font-size: 25px;
margin-left: 75px;
}
.similar-img{
display: flex;
margin-top: 25px;
margin-left: 95px;
width: 50px;
height: 50px;


}
.similar-img>div>img{
margin-left: 12px;
border: 2px solid #f43397;
border-radius: 5px;
width: 100px;
height: 100px;

}





/* here the item info */
.item-info{
width: 548px;
height: 260px;
border: 1px solid #e3e3e3;
border-radius: 5px;
width: 50%;
margin-top: 10px;
padding-left: 9px;

}
.item-info>.title{
color: #999999;
font-size: 20px;
font-weight: 600;
height: 70px;
margin-bottom: -40px;

}


.price{
display: flex;
width: 100%;
margin-top: 6px;
margin-bottom: 0px;
align-items:stretch;
height: 40px;
}

.price>.main-price{
margin-left: 18px;
font-size: larger;
font-size: 25px;

}
.price>.line-price{
text-decoration: line-through;
justify-content: center;
margin-left: 15px;
margin-top: 0px;
color: #999999;
}
.disc>p{
font-size: 15px;
color: #666666;
}
.del>p{
font-size: 12px;
color: #666666;
background-color: #e3e3e3;
width: max-content;
border-radius: 5px;
font-weight: bold;
}
.price>.off{
font-size: 18px;
color: #038d63;
margin-left: 25px;
margin-top: 0px;

}

.size-cont{
height: 110px;
width: 470px;
border: 1px solid #e3e3e3;
border-radius: 5px;
margin-top: 45px;
padding-left: 15px;
}
.item-size{
display: flex;

}

.item-size>div>p{
background-color: transparent;
border: 1px solid rgb(87, 86, 86);
border-radius: 10px;
height: 25px;
width: 35px;
margin-left: 10px;
padding-left: 5px;

}
.product-details{
height: 320px;
width: 450px;

}
.textarea{
height: 200px;
width: 310px;
border-radius: 5px;
margin-left: 10px;
color :gray;
}
.textarea>span{
font-size: large;
}
.sold-cont{
margin-top: 10px;
height: 235px;
width: 549px;
border: 1px solid #e3e3e3;


}
.sold-cont>h2{
margin-left: 10px;
}
.name{
display: grid;
grid-template-columns:repeat(2,1fr);
grid-template-rows: repeat(1,250px);
}
.name>div{
margin-left: 10px;
width: 90%;
}
h4,h5{
margin-left: 0px;
font-size: larger;
}
.name>div>a>button{
border: 1px solid #f43397;
background-color: white;
color: #f43397;
width: 120px;
height: 30px;
border-radius: 5px;
}
.name>div>button{
border: 1px solid blue;
border-radius: 10px;
color: blue;
width: 50px;
font-size: large;
}
.rating-cont{
height: 550px;
width: 500px;
font-family: Arial;
margin: 0 auto; /* Center website */
max-width: 800px; /* Max width */
padding: 20px;
}

.heading {
font-size: 25px;
margin-right: 25px;
}

.fa {
font-size: 25px;
}

.checked {
color: orange;
}

/* Three column layout */
.side {
float: left;
width: 15%;
margin-top: 10px;
}

.middle {
float: left;
width: 70%;
margin-top: 10px;
}

/* Place text to the right */
.right {
text-align: right;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* The bar container */
.bar-container {
width: 100%;
background-color: #f1f1f1;
text-align: center;
color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 8px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 8px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 8px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 8px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 8px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
.side, .middle {
width: 100%;
}
/* Hide the right column on small screens */
.right {
display: none;
}
}